@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body,html{
    margin: 0;
}
.righteous{
    font-family: 'Righteous', cursive;
}

.roboto{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background-color:#CF2B2B;
    padding: 3%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    height: 92px;
    color: white;
    padding-left: 20px;
}

.opçao{
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 35%;
    flex-shrink: 0;
    background-color: #FFFFFF;
    border-radius: 9px;
    box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);
}

.scroller{
    display: flex;
    gap: 3%;
    overflow-x: scroll;
    width: 100%;
}

.optionbox{
    display: flex;
    flex-direction: column;
}

.first{
    margin-top: 150px;
}

button.donebutton{
    border-radius: 50px;
    border: 0;
    background-color: #CBCBCB;
    padding: 5%;
    width: 90%;
    color: white;
    text-align: center;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
    
}

.container{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    background-color: #E5E5E5;
    gap: 20px;
    padding-bottom: 20px;
}

.optionimage{
    width: 100%;
}

.logo{
    font-weight: 400;
font-size: 44px;

}

.sublogo{
    font-size: 18px;
}

.optiontypetitle{
    font-size: 26px;
    margin-bottom: 10px;
}

.tituloopçao{
    font-size: 16px;
    font-weight: bold;
}

.textoopçao{
    color: #A6A6A6;
    font-size: 15px;
}

.price{
    font-size: 16px;
    font-weight: 400;
}

.last{
    margin-bottom: 120px;   
}