@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    background-color: #A7E9AF;
}

header{
    color: #75B79E;
    font-family: 'Roboto', sans-serif;
    line-height: 66px;
letter-spacing: -0.004em;
    font-size: 56px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 3%;
    font-weight: 700;
    text-align: center;
    padding-top: 3%;
    position: relative;
}

main{
    display: flex;
    width: 100%;
    justify-content: center;
}


.cardcontainer{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    gap: 30px;
    justify-content: center;
}

.card{
    background-color: #99CEA8;
    width: 100px;
    height: 100px;
    
border-top: 24px solid #99CEA8;
border-left: 10px solid #99CEA8;
border-right: 7px solid #99CEA8;
border-bottom: 22px solid #99CEA8;
    border-radius: 5px;
    font-size: 0;
    transition: all 1s;
    background-image: url("img/front.png");
    box-sizing: content-box;
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: 100px 100px;
}

.hidden{
    display: none;
}

.bobross, .explody, .fiesta, .metal, .revertit, .triplets, .unicorn{
    transform: rotatey(180deg);}

.card.bobross{
 background-image: url("img/bobrossparrot.gif");
 background-repeat: no-repeat;
}

.card.explody{
    background-image: url("img/explodyparrot.gif");
    background-repeat: no-repeat;
}

.card.fiesta{
    background-image: url("img/fiestaparrot.gif");
    background-repeat: no-repeat;
}

.card.metal{
    background-image: url("img/metalparrot.gif");
    background-repeat: no-repeat;
}

.card.revertit{
    background-image: url("img/revertitparrot.gif");
    background-repeat: no-repeat;
}

.card.triplets{
    background-image: url("img/tripletsparrot.gif");
    background-repeat: no-repeat;
}

.card.unicorn{
    background-image: url("img/unicornparrot.gif");
    background-repeat: no-repeat;;
}

.counter{
    border: 3px solid #99CEA8;
    padding: 10px;
    font-size: 32px;
    width: 120px;
    height: 80px;
    position: absolute;
    right: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media (max-width: 760px){
    header{
        font-size: 36px;
        padding-bottom: 6%;
        padding-top: 40px;
    }
    
    header div{
        width: 80%;
        line-height: 42px;
        letter-spacing: -0.004em;

    }
    .cardcontainer{
        flex-direction: column;
        align-items: center;
    }

    .card{
        margin: 0;
    }

    .counter{
        border: 1.5px solid #99CEA8;
    padding: 5px;
    font-size: 20px;
    width: 60px;
    height: 40px;
    right: 15px;
    position: fixed;
    }
}